.destinations {
  display: flex;
  justify-content: center;
  padding: 272px 0 260px;
}

.destinations-container {
  display: flex;
}

.destinations-box {
  padding-left: 104px;
}

.destinations-title {
  @include font(36px, 700, 1.4);

  font-family: "Playfair Display", serif;
  color: $title-text;
  width: 481px;

  &_about {
    width: 346px;
  }
}

.destinations-text {
  @include font(17px, 300, 1.8);

  font-family: "Mulish", sans-serif;
  color: $primary-text;
  width: 450px;
  margin-bottom: 39px;
}