.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* по поводу кнопки View all в js просто берем изображения 
с API а стили должні подтянуться с css */
.featured-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  // width: 1120px; /* когда установлю padding удрать width */
}

.arrow-accent {
  fill: $accent-color;
}

.featured-img {
  display: flex;
  justify-content: center;
}

.featured-item {
  margin: 24px;
  width: calc(100% / 4 - 24px);
}

.img-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0;
  width: 261px;
  height: 332px;
}

.overlay {
  position: absolute;
  bottom: -15px;
  left: -15px;
  border-radius: 10px;
  width: 142px;
  height: 75px;
  background-color: #fff;
}
