.footer {
  display: inline-flex;
  background: $footer-background;
  min-width: 1920px;
}

.footer-container {
  display: flex;
  padding: 76px 192px;
}

.info-footer {
  width: 337px;
}

.destinations {
    padding: 0;
}