::selection {
    color: $invert-color-text;
    background-color: $bg-selection; /* применяет стили к части документа, который был выделен пользователем (например, с помощью мыши) */
  }
  
  html {
    scroll-behavior: smooth; /* плавная прокрутка скрол */
  }
  
  body {
    color: $text-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    background-color: $bg-color-site;
  }
  
  img {
    // min-width: 100%;
  
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover; /* определяет как содержимое заменяемого элемента <img> 
                        или <video>, должно заполнять контейнер относительно его 
                        высоты и ширины. */
    /*    cover - смещаемый контент меняет свой размер таким образом, 
                        чтобы сохранять свои пропорции при заполнении блока: окончательный размер 
                        контента будет определён как "покрытие" блока, ограничиваясь его шириной 
                        и высотой. */
  }
  
  /* flex-grow: 1; - свойство определяет коэффициент увеличения гибкого элемента по отношению 
    к другим гибким элементам внутри одного контейнера при условии, что в нем есть свободное 
    пространство. */
  
  //
  