// Text
$title-text: #202336;
$primary-text: #7D7987;
$primary-footer-text: #848484;
$nav-text: #B8BECD;
$white-text: #fff;
$black-text: #000000;
$description-first: #042521;
$description-second: #80918E;


$accent-color: #FB8F1D;
$selection-color: rgba(251, 143, 29, 0.3);
$chois-color: #4A4C53;

$star-icon: #FFBB0C;

// Border
$border-hero: #AFB0B9;
$border-before-hero: #202336;
$arrow-fill: #4A4C53;